First of all install library with `!pip install` command:

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
WARNING: There was an error checking the latest version of pip.

In [2]:
%load_ext sql

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [4]:
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [5]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [6]:
%%sql $CONNECT_DATA
SELECT tickets.ticket_no
FROM tickets
JOIN ticket_flights ON tickets.ticket_no = ticket_flights.ticket_no
JOIN flights ON ticket_flights.flight_id = flights.flight_id
GROUP BY tickets.ticket_no
HAVING COUNT(ticket_flights.flight_id) > 3
LIMIT 100;

100 rows affected.

[('0005432312163',),
 ('0005432312164',),
 ('0005432312165',),
 ('0005432312166',),
 ('0005432312167',),
 ('0005432312168',),
 ('0005432312169',),
 ('0005432312170',),
 ('0005432312171',),
 ('0005432312172',),
 ('0005432312173',),
 ('0005432312174',),
 ('0005432312175',),
 ('0005432312176',),
 ('0005432312177',),
 ('0005432312178',),
 ('0005432312179',),
 ('0005432312180',),
 ('0005432312181',),
 ('0005432312182',),
 ('0005432312183',),
 ('0005432312184',),
 ('0005432312185',),
 ('0005432312186',),
 ('0005432312187',),
 ('0005432312188',),
 ('0005432312189',),
 ('0005432312190',),
 ('0005432312191',),
 ('0005432312192',),
 ('0005432312193',),
 ('0005432312194',),
 ('0005432312195',),
 ('0005432312196',),
 ('0005432312197',),
 ('0005432312198',),
 ('0005432312199',),
 ('0005432312200',),
 ('0005432312201',),
 ('0005432312202',),
 ('0005432312203',),
 ('0005432312204',),
 ('0005432312205',),
 ('0005432312206',),
 ('0005432312207',),
 ('0005432312208',),
 ('0005432312209',),
 ('0005432312210',),
 ('0005432312211',),
 ('0005432312212',),
 ('0005432312213',),
 ('0005432312214',),
 ('0005432312215',),
 ('0005432312216',),
 ('0005432312217',),
 ('0005432312218',),
 ('0005432312219',),
 ('0005432312220',),
 ('0005432312221',),
 ('0005432312222',),
 ('0005432312223',),
 ('0005432312224',),
 ('0005432312225',),
 ('0005432312226',),
 ('0005432312227',),
 ('0005432312228',),
 ('0005432312229',),
 ('0005432312230',),
 ('0005432312231',),
 ('0005432312232',),
 ('0005432312233',),
 ('0005432312234',),
 ('0005432312235',),
 ('0005432312236',),
 ('0005432312237',),
 ('0005432312238',),
 ('0005432312239',),
 ('0005432312240',),
 ('0005432312241',),
 ('0005432312242',),
 ('0005432312243',),
 ('0005432312244',),
 ('0005432312245',),
 ('0005432312246',),
 ('0005432312247',),
 ('0005432312248',),
 ('0005432312249',),
 ('0005432312250',),
 ('0005432312251',),
 ('0005432312252',),
 ('0005432312253',),
 ('0005432312254',),
 ('0005432312255',),
 ('0005432312256',),
 ('0005432312257',),
 ('0005432312258',),
 ('0005432312259',),
 ('0005432312260',),
 ('0005432312261',),
 ('0005432312262',)]

In [7]:
%%sql $CONNECT_DATA
SELECT COUNT(*) AS total_tickets
FROM (
    SELECT tickets.ticket_no
    FROM tickets
    JOIN ticket_flights ON tickets.ticket_no = ticket_flights.ticket_no
    GROUP BY tickets.ticket_no
    HAVING COUNT(ticket_flights.flight_id) = 5
) AS subquery;

1 rows affected.

[(54,)]